{% extends 'base.html' %}
{% block content %}

<div class="container">
   <div class="row">
       <div class="col-sm-2"><input class="btn btn-primary form-control"  name="daterange" value="" style="width:210px" id="dates"  type="text" /></div>
        <div class="col-sm-2">
            <select class="form-select select_house"  id="filter_house" aria-label="">
                <option value="all" selected>Select house</option>
                {% for house in houses_of_street %}
                <option value="{{ house.number }}">{{ house.number }}</option>
                {% endfor %}
            </select>
       </div>
       <div class="col-sm-1"><button class="btn btn-primary" style="margin-left: -55px;" id="apply_dates" type="submit">Apply</button></div>
       <div class="col-sm-2"><button class="btn btn-outline-info" style="margin-left: -86px;" id ="refresh_dates" type="submit">Show all</button>
   </div>

    <div class="row">
      <div class="col-sm-8">
        <br><h5>History</h5>
          <div class="table-responsive">
          <table id="history_table" data-toggle="table" class="table table-striped">
            <thead>
                <tr>
                    <!--<th scope="col">#</th>-->
                    <th class="house_th" scope="col">House</th>
                    <th scope="col">Street</th>
                    <th scope="col">Original photo</th>
                    <th scope="col">Processed photo</th>
                    <th scope="col">Quantity</th>
                    <th class="timestamp" scope="col">Timestamp</th>
                </tr>
          </thead>
          <tbody>
          {% for row in rows %}
              <tr>
                  <!--<th scope="row">{{ row.id }}</th>-->
                  <td>{{ row.house_number }}</td>
                  <td>{{ row.street }}</td>
                  <td><a href="{{ row.original_photo }}">link</a></td>
                  <td><a href="{{ row.processed_photo }}">link</a></td>
                  <td>{{ row.quantity }}</td>
                  <td>{{ row.timestamp }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
          </div>
      </div>

        <div style="width:300px" class="col-sm-6">
           <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
           </p>
            <div class="mb-3">
              <label for="formFile" class="form-label">Upload file for house:</label>
                <select class="form-select select_house"  id="add_house" aria-label="">
                    <option value="" selected>Select house</option>
                    {% for house in houses_of_street %}
                    <option value="{{ house.id }}">{{ house.number }}</option>
                    {% endfor %}
                </select>
                <br>
              <div class="mainDiv">
				<form method="post" action="/admin" enctype="multipart/form-data">
                    <input id="house_id" type="text" value="{{ house_id }}" hidden>
					<div id="drop">
						<input class="form-control" type="file" name="file" id="formFile" autocomplete="off" required>
					</div>
				</form>
                  <button id="load_file_submit" class="btn btn-primary">Load file</button>
                  <button id ='retrieve' class="btn btn-success" type="submit">Process</button>
			   </div>
            </div>

            <br>
            <div class="card" style="width: 18rem;">
              <img id='image_update' class="card-img-top" src="{{ url_for('static', filename='/uploads/' + filename)}}"
                   alt="Card image cap">
              <div class="card-body">
                <p class="card-text"> Calculated amount of permanent light sources: <span id='wordResult'></span></p>
              </div>
            </div>
            <br>
            <label class="form-label">Add new house:</label>
            <div class="input-group mb-3" style="width: 292px;">
                <input type="text"  class="form-control" id="new_house" placeholder="Number" aria-label="Add new house" aria-describedby="button-addon2">
                <select class="form-select select_house"  id="add_house_owner" aria-label="">
                    <option value="{{ current_user.id }}" selected>Owner(you)</option>
                    {% for user in users_without_house_dict %}
                    <option value="{{ user.id }}">{{ user.email }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-outline-secondary" type="button" id="new_house_submit">Add</button>
            </div>
            <input id="new_house_street" type="text" value="{{ street_dict.street_id }}" hidden>
            <p>Houses on {{ street_dict.street_name }} street:</p>
            <table id="list_of_houses" data-toggle="table" class="table table-striped">
                <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th scope="col">House</th>
                        <th scope="col">Owner</th>
                    </tr>
                </thead>

                <tbody>
                {% for house in houses_of_street %}
                    <tr>
                        <td>{{ house.number }}</td>
                        <td>{{ house.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

          </div>
       </div>
   </div>
</div>

{% endblock %}